@use "./variables" as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  background: $bg-gradient;
  color: $color-text-light;
  min-height: 100vh;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}
