@use "./variables" as *;

.app-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}



/* Desktop */
@media (min-width: 768px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
  }
}

@media (max-width: 1100px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

