@use "../variables" as *;

@media(min-width:480px){
.tips {
  margin: 2rem auto;
  max-width: 520px;

  &__title {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
  }

  &__list {
    padding-left: 1.2rem;

    li {
      margin-bottom: 0.5rem;
      line-height: 1.5;
    }
  }
}

}

@media(max-width:480px){

.tips {
  background: #ffffff;
  border-radius: 16px;
  padding: 1.3rem;
  box-shadow: $shadow;
  margin-top: 0.5rem;
  color: $color-text;

  h3 {
    margin-bottom: 0.6rem;
  }

  li {
    margin-bottom: 0.4rem;
  }
}

}